.ht_master {
    text-align: left;
    /*
    margin-left: 10px;
    margin-right: 10px; */
}

@media only screen and (max-width: 1175px) and (min-width: 680px){
    .table{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        /* background-color: black !important; */
        /* width: 1000px !important; */
    }
}

@media only screen and (max-width: 689px) and (min-width: 560px){
    .table{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 10px !important;
        width: 86% !important;
    }
    .tableHot{
        width: 100% !important;
    }
  }

  @media only screen and (max-width: 559px) and (min-width: 475px){
    .table{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }
    .tableHot{
        width: 100% !important;
    }
  }
  
  @media only screen and (max-width: 475px) and (min-width: 375px){
    .table{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }
    .tableHot{
        width: 100% !important;
    }
  }  
  
  @media only screen and (max-width: 375px){
    .table{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }
    .tableHot{
        width: 100% !important;
    }
  }