.scrollTable {
    overflow: hidden;
}

/* prevents unnecessary horizontal scrolling */
.wtHider{
    width: auto !important; 
}

.chartss{
    height: 240px;
    width: 500px;
}

.hidden {
    display: none;
}

.outercsv0{
    position: relative;
    left: 0px;
    top: 20px;
    bottom: 0px !important;
}
.cellName{
    margin-bottom: 0px !important;
}
.ind-content-box{
    min-height: 300px;
}

.content-box-heading{
    width: 100%;
    margin-bottom: 0px;
}
.title{
    font-family: 'Rubik';
    font-size: 1.75em;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
}
#avgTime{
    /*position: absolute;*/
    bottom: 5px;
    right: 110px;
}
@media only screen and (max-width: 1175px) and (min-width: 990px){
    #lineChartPageviews{
        float: right !important;
        margin-right: 200px !important;
    }
    .chartss{
        float: none !important;
        margin-right: 00px !important;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }

  @media only screen and (max-width: 990px) and (min-width: 680px){
    #lineChartPageviews{
        float: right !important;
        margin-right: 15% !important;
    }
    .chartss{
        float: none !important;
        margin-left: auto !important;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }
  
  @media only screen and (max-width: 689px) and (min-width: 560px){
    #lineChartPageviews{
        float: none !important;
        margin-right: 75px !important;
    }
    .chartss{
        width: 112% !important;
        float: none !important;
        margin-left: auto !important;
    }
    .title{
        font-size: 23px;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }
  
  @media only screen and (max-width: 559px) and (min-width: 475px){
    #lineChartPageviews{
        float: none !important;
        
    }
    .chartss{
        width: 95% !important;
    }
    .title{
        font-size: 18px;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }
  
  @media only screen and (max-width: 475px) and (min-width: 375px){
    #lineChartPageviews{
        float: none !important;
    }
    .chartss{
        width: 95% !important;
    }
    .title{
        font-size: 14px;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }  
  
  @media only screen and (max-width: 375px){
    #lineChartPageviews{
        float: none !important;
    }
    .chartss{
        width: 95% !important;
    }
    .title{
        font-size: 13px;
    }
    #avgTime{
        position: static;
        bottom: 5px;
        right: 110px;
    }
  }