.dropdown {
    width: 100%;
}

.groups-entry {
    /*padding-left: 24px;*/
    margin-right: 20px;
    width: 100%;
}

.selectionContainer {
    width: 100%;
    margin-right: 20px;
}

.hidden {
    display: none !important;
}